.page__header {
  margin: 0 auto;
  max-width: 1280px;  
  padding: 28px 48px 0;
  display: flex;
  align-items: flex-end;  
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page__header {
    padding: 28px 24px 0;
  }
}

@media screen and (max-width: 460px) {
  .page__header {
    padding: 16px 16px 0;
  }  
}