.place__link {
  grid-area: url;
  align-self: end;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22;
  color: white;
}

.place__link:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .place__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  .place__link {
    display: none;
  }
}

